# pycache files
*.pyc

# uploaded media files
media/

# database migrations
dashboard/migrations/
docviewer/migrations/
mediaAPI/migrations/
slideviewer/migrations/


# skip high quality animation uploads
*.mp4

# jupyter notebook checkpoints
preprocessing/.ipynb_checkpoints/*
