# workspaces
.vscode/*
.idea/*
.DS_Store/*

# pycache files
*.pyc

# uploaded media files
media/*

# database migrations
**/migrations/**

# ignore media files
*.mp4
*.pdf
*.mp3

# ipynb checkpoints
preprocessing/.ipynb_checkpoints/*
