certifi==2018.11.29
comtypes==1.1.7
Django==1.11.10
django-crispy-forms==1.7.2
django-mysql==2.4.1
djangorestframework==3.9.2
mysqlclient==1.4.2.post1
Pillow==5.4.1
pytz==2018.9
pywin32==224
wincertstore==0.2
