{% extends "docviewer/header.html" %}
{% block title %}Document Upload{% endblock %}
{% block content %}
{% load static%}
<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          Document upload section 
        </div>
        <div class="card-body">

          {% load crispy_forms_tags %}
          <form method="post" enctype="multipart/form-data">
            <div id="upload-form">
              {% csrf_token %}
              {{ form|crispy }}
            </div>
            <div class="form-group">
              <button type="button" id="add" class="btn btn-outline-warning btn-sm" title="Add another file" onclick="addelement()"><i class="fa fa-plus"></i></button>
            </div>
            <div class="form-group">
            <button type="Submit" class="btn btn-outline-success" style="float: right;">Create</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block custom_js %} <script src="{% static 'js/doc_essentials.js' %}"></script> {% endblock %}
