{% extends "docviewer/header.html" %}
{% block title %}View slides{% endblock %}
{% block content %}

<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          Slide display section
        </div>
        <div class="card-body">
          <div class="well"> Title : {{ title }} </div>
          <div class="well"> Description : {{ description }} </div>
        </div>

        <div class="card-body">

          <div class="row pt-3">
            <div class="col-sm">
              {% if ppt_1.type %}
              <embed src="http://127.0.0.1:8000/media/{{ ppt_1.url }}" type="application/pdf" width="100%" height="500px" />
              {% endif %}
            </div>
          </div>
          <div class="row pt-5">
            <div class="col-lg">
              {% if ppt_2.type %}
              <embed src="http://127.0.0.1:8000/media/{{ ppt_2.url }}" type="application/pdf" width="100%" height="500px" />
              {% endif %}
            </div>
          </div>
          <div class="row pt-5">
            <div class="col-lg">
              {% if ppt_3.type %}
              <embed src="http://127.0.0.1:8000/media/{{ ppt_3.url }}" type="application/pdf" width="100%" height="500px" />
              {% endif %}
            </div>
          </div>
          <div class="row pt-5">
            <div class="col-lg">
              {% if ppt_4.type %}
              <embed src="http://127.0.0.1:8000/media/{{ ppt_4.url }}" type="application/pdf" width="100%" height="500px" />
              {% endif %}
            </div>
          </div>
          <div class="row pt-5">
            <div class="col-lg">
              {% if ppt_5.type %}
              <embed src="http://127.0.0.1:8000/media/{{ ppt_5.url }}" type="application/pdf" width="100%" height="500px" />
              {% endif %}
            </div>
          </div>
          <div class="row pt-5">
            <div class="col-lg">
              {% if ppt_6.type %}
              <embed src="http://127.0.0.1:8000/media/{{ ppt_6.url }}" type="application/pdf" width="100%" height="500px" />
              {% endif %}
            </div>
          </div>

          <div class="row">
            <div class="col-lg">
              <a href="/slide/slide_upload/" class="btn btn-outline-warning" style="float: right;">Go Back</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
